.app {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.navbar-top {
  position: relative;
  height: 91px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #286090;
  margin: 0;
  padding-bottom: 40px;

  .navbar-top-brand {
    padding: 5px;
    display: block;
    div {
      img {
        width: auto;
        height: 80px;
        -webkit-filter: invert(100%);
      }
      .nav-img {
          -webkit-filter: invert(0%);
      }
      h3 {
        color: white;
      }
      height: 70px;
      margin-left: 10px;
      float: left;
      padding-right: 30px;
    }
  }
}
.navbar-top-white {
    background-color: #ffffff;
}

.section {
    margin-top: 40px;
    min-width: 100%;
    min-height: 100%;
}
